body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.content {
  padding: 7rem 0; }

h2 {
  font-size: 20px; }

.owl-1 .owl-nav {
  width: 100%;
  position: absolute;
  top: 45%; }
  .owl-1 .owl-nav .owl-next,
  .owl-1 .owl-nav .owl-prev {
    border: 1px solid red;
    z-index: 92;
    position: absolute;
    top: 50%; }
    .owl-1 .owl-nav .owl-next:active, .owl-1 .owl-nav .owl-next:focus,
    .owl-1 .owl-nav .owl-prev:active,
    .owl-1 .owl-nav .owl-prev:focus {
      outline: none; }
    .owl-1 .owl-nav .owl-next span,
    .owl-1 .owl-nav .owl-prev span {
      mix-blend-mode: difference; }
      .owl-1 .owl-nav .owl-next span:before,
      .owl-1 .owl-nav .owl-prev span:before {
        font-size: 40px !important; }
  .owl-1 .owl-nav .owl-next {
    border: 4px solid blue;
    right: 20px; }
  .owl-1 .owl-nav .owl-prev {
    left: 20px; }

.owl-1 .owl-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .owl-1 .owl-dots .owl-dot {
    background: none;
    display: inline-block; }
    .owl-1 .owl-dots .owl-dot > span {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.5);
      box-shadow: 0 0 0 1pt rgba(0, 0, 0, 0.5);
      margin: 4px; }
    .owl-1 .owl-dots .owl-dot.active > span {
      background: rgba(87, 87, 87, 0.658);
      background-blend-mode: difference; }
    .owl-1 .owl-dots .owl-dot:active, .owl-1 .owl-dots .owl-dot:focus {
      outline: none; }
